<h4>タイトル</h4>
<p><%= @post.title %></p>

<h4>本文</h4>
<p><%= @post.body %></p>

<%= form_with(model: @post, local: true) do |f| %>
  <%= f.hidden_field :title %>
  <%= f.hidden_field :body %>
  <%= f.submit "投稿する！", class: "btn orange-btn" %>
  <%= f.submit "戻る", name: :back, class: "btn blue-btn" %>
<% end %>