<div class="theme">編集</div>
<%= form_with model: @post, url: edit_confirm_post_path, local: true do |f| %>
  <p>タイトル</p>
  <%= f.text_field :title, class: "form mb-3" %>
  <p>タグ (,で区切ると複数タグ登録できます)</p>
  <%= f.text_field :tag_name, class: "form mb-3", value: @tag_names %>
  <p>本文</p>
  <%= f.rich_text_area :content, class: "mb-3" %>
  <div class="flex">
    <%= f.submit "確認", class: "btn orange-btn mr-2" %>
    <%= link_to "戻る", post_path(@post), class: "btn blue-btn" %>
  </div>
<% end %>
