<div class="in-container">
  <%= render "layouts/tag_list", tag_list: @tag_list %>

  <div class="right-box">
    <div class="theme"><span class="ball mr-1"><i class="fas fa-volleyball-ball"></i></span>新着記事</div>
    <div class="post-index mt-3">
      <% @posts.each do |posts| %>
        <div class="post-card">
          <%= link_to post_path(posts) do %><% end %>
          <div class="post-title">
            <%= posts.title %>
          </div>
          <div class="post-card-user">
            <% if posts.user.profile_image? %>
              <%= image_tag posts.user.profile_image.thumb.url, size: "30", class: "user-icon" %>
            <% else %>
              <%= image_tag "default.png", alt: "user-icon", size: "30", class: "user-icon" %>
            <% end %>
            <%= posts.user.name %>
            <span class="day-date">
              <%= posts.created_at.strftime('%Y/%m/%d') %>
            </span>
          </div>
          <div class="post-card-tag">
            <% posts.tags.each do |tag| %>
            <span class="mr-1"><i>#</i><%= tag.tag_name %></span>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

</div>