<div class="theme">新規投稿</div>
<%= form_with model: @post, url: new_confirm_posts_path, local: true do |f| %>
  <p>タイトル</p>
  <%= f.text_field :title, class: "post-form1 mb-3" %>
  <p>タグ (スペースで区切ると複数タグ登録できます)</p>
  <%= f.text_field :tag_name, class: "post-form2 mb-3", value: @tag_names %>
  <p>本文</p>
  <%= f.rich_text_area :content, class: "mb-3" %>
  <%= f.submit "確認", class: "btn orange-btn" %>
<% end %>