<div class="note mb-4">
  <%#タイトル%>
  <div class="theme"><%= @post.title %></div>
  <%#投稿者情報%>
  <span class="post-user">
    <%= link_to user_path(@post.user) do %>
      <% if @post.user.profile_image? %>
        <%= image_tag @post.user.profile_image.thumb.url, size: "30", class: "user-icon" %>
      <% else %>
        <%= image_tag "default.png", alt: "user-icon", size: "30", class: "user-icon" %>
      <% end %>
      <%= @post.user.name %>
    <% end %>
  </span>
  <%#日付情報%>
  <span class="day-date ml-3">
    投稿<%= @post.created_at.strftime('%Y/%m/%d') %>
    <% if @post.created_at + 1.day < @post.updated_at %>
      更新<%= @post.updated_at.strftime('%Y/%m/%d') %>
    <% end %>
  </span>
  <%#ナイス%>
  <span class="ml-3">
    <%= link_to post_nices_path(@post), method: :post, class: "nice" do %>
      <i class="fas fa-thumbs-up"></i>
      <% if @post.nices.count >= 1 %>
        <%= @post.nices.count %>
      <% end %>
    <% end %>
  </span>
  <%#ブックマーク%>
  <% if user_signed_in? %>
    <span id="bookmark-btn" class="ml-2">
      <%= render "layouts/bookmark", post: @post, bookmark: @bookmark %>
    </span>
  <% end %>
  <%#タグ%>
  <div class="mt-2">
    <% @tag_names.each do |tag| %>
    <span class="tag-btn">
      <%= link_to search_tag_post_path(tag) do %><% end %>
      <i>#</i><%= tag.tag_name %>
    </span>
    <% end %>
  </div>
  <hr>
  <p><%= @post.content %></p>


<%#投稿したユーザーにだけ表示%>
  <% if @post.user == current_user %>
    <%= link_to "編集する", edit_post_path, class: "btn orange-btn" %>
    <%= link_to "削除する", post_path(@post), method: :delete, data: { confirm: "記事を削除しますか？" }, class: "btn blue-btn" %>
  <% end %>
</div>



<%#コメント%>
<% @post.post_comments.each do |post_comment| %>
  <div class="comment-card">
    <span class="comment-user">
      <%= link_to user_path(post_comment.user) do %>
        <% if post_comment.user.profile_image? %>
          <%= image_tag post_comment.user.profile_image.thumb.url, size: "25", class: "user-icon" %>
        <% else %>
          <%= image_tag "default.png", alt: "user-icon", size: "25", class: "user-icon" %>
        <% end %>
        <%= post_comment.user.name %>
      <% end %>
    </span>
    <span class="day-date ml-3"><%= post_comment.created_at.strftime('%Y/%m/%d') %></span>
    <% if post_comment.user == current_user %>
      <%= link_to post_post_comment_path(post_comment.post, post_comment), method: :delete, data: { confirm: "コメントを削除しますか？" }, class: "baketu ml-3" do %>
        <i class="fas fa-trash-alt"></i>
      <% end %>
    <% end %>
    <div class="mt-1"><%= safe_join(post_comment.body.split("\n"),tag(:br)) %></div>
  </div>
<% end %>

<% if user_signed_in? %>
  <div class="comment">
    <%= form_with model: [@post, @post_comment] do |f| %>
      <div><%= f.text_area :body, size: "50x4", placeholder: "コメント", class: "form mb-2" %></div>
      <div><%= f.submit "送信する", class: "btn orange-btn" %></div>
    <% end %>
  </div>
<% end %>