<h3><%= @post.title %></h3>
<% if @post.user.profile_image? %>
  <%= image_tag @post.user.profile_image.thumb.url, size: "40", class: "user-icon" %>
<% else %>
  <%= image_tag "default.png", alt: "user-icon", size: "40", class: "user-icon" %>
<% end %>

<%= @post.user.name %>
<p><%= @post.content %></p>

<% if @post.user == current_user %>
    <%= link_to "削除する", post_path(@post), method: :delete %>
<% end %>