<div class="theme">ユーザー情報編集</div>

<%= form_with model:@user, local:true do |f| %>
  <div>
    <% if @user.profile_image? %>
      <%= image_tag @user.profile_image.thumb.url, class: "user-icon" %>
    <% else %>
      <%= image_tag "default.png", alt: "user-icon", size: "60", class: "user-icon" %>
    <% end %>
  </div>
  <div class="imagefield">
    <%= f.file_field :profile_image, accept: 'image/jpeg,image/gif,image/png' %>
  </div>
  <div>
    <%= f.check_box :remove_profile_image %>
    <span class="imagedelete">画像を削除する</span>
  </div>
  <div>
    <p class="label">ユーザー名</p>
    <%= f.text_field :name, class: "user-form1" %>
  </div>

  <div>
    <p class="label">自己紹介文</p>
    <%= f.text_area :introduction, class: "user-form2" %>
  </div>

  <div class="actions mt-3">
    <%= f.submit "変更を保存する", class: "btn blue-btn" %>
  </div>
<% end %>
<%= link_to "戻る", user_path(@user), class: "btn orange-btn mt-2" %>