<div class="in-container">
  <%= render "layouts/user_info", user: @user %>

  <div class="post-index ml-5">
    <% @posts.each do |posts| %>
      <%= link_to post_path(posts) do %>
        <div class="post-card">
          <div class="post-title">
            <%= posts.title %>
          </div>
          <% if posts.user.profile_image? %>
            <%= image_tag posts.user.profile_image.thumb.url, size: "30", class: "user-icon" %>
          <% else %>
            <%= image_tag "default.png", alt: "user-icon", size: "30", class: "user-icon" %>
          <% end %>
          <%= posts.user.name %>
          <span class="day-date">
            <%= posts.created_at.strftime('%Y/%m/%d') %>
          </span>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
