<div class="side-bar-user">
  <div class="user_info mb-4">
    <div class="user_image mb-3">
      <% if user.profile_image? %>
        <%= image_tag user.profile_image.thumb.url, size: "100", class: "user-icon" %>
      <% else %>
        <%= image_tag "default.png", alt: "user-icon", size: "100", class: "user-icon" %>
      <% end %>
    </div>
    <div class="user_name mb-1">
      <%= user.name %>
    </div>
    <div class="user_introduction">
      <%= user.introduction %>
    </div>
  </div>
  <% if user_signed_in? %>
    <% if current_user != user %>
      <% if current_user.following?(user)%>
        <%= link_to "フォローを外す", user_relationship_path(user.id), method: :delete, class: "btn user-blue-btn mb-1" %>
      <%else%>
        <%= link_to "フォローする", user_relationships_path(user.id), method: :post, class: "btn user-orange-btn mb-1" %>
      <% end %>
    <% else %>
      <%= link_to "編集", edit_user_path(user), class: "btn user-blue-btn mb-1" %>
      <%= link_to "ログアウト", destroy_user_session_path, class: "btn user-blue-btn mb-1" %>
      <%= link_to "ブックマーク", user_bookmarks_path(user), class: "btn user-orange-btn mb-1" %>
      <%= link_to "フォローリスト", user_relationships_path(user), class: "btn user-orange-btn mb-1" %>
    <% end %>
  <% end %>

</div>

